@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

$font-family: "Poppins", sans-serif;
$background: #f6f7fb;
$color-font: #334680;
$color-second: #1e86ff;
