@import "../../assets/sass/mixins";

.header {
  @include table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 60px;
  }
  &__search {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 300px;
    height: 55px;
    padding: 3px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 3px;
    margin: 38px auto;

    @include table {
      margin: 0;
    }

    &-btn {
      border: none;
      background-color: #fff;
      cursor: pointer;
      &:nth-child(1) {
        border-radius: 12px 0 0 12px;
      }

      &:nth-child(2) {
        color: #bdbdbd;
      }

      &:nth-child(3) {
        border-radius: 0 12px 12px 0;
      }

      &-icon {
        font-size: 25px;
        color: rgba(235, 87, 87, 0.9);
      }
    }
  }
}
