@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800&display=swap");

$font-family-primary: "Raleway", sans-serif;
$font-size: 16px;
$background-search: #1e213a;
$background-weatherbox: #100e1d;
$font-colors: #e7e7eb;
