@import "./assets/sass/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: $background;
  font-family: $font-family;
  color: $color-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
